[submodule "components/audio_lib"]
	path = components/audio_lib
	url = https://github.com/lexus2k/audioplayer_esp32
[submodule "components/vgm_decoder"]
	path = components/vgm_decoder
	url = https://github.com/lexus2k/vgm_decoder
